*.xlsx
*.csv
*.pyc
*.txt
*.log

data/stock/*.csv
data/index/*.csv
data/global/*.csv
data/temp/*
data/bins/*
data/scaler/*
data/model/*.h5
abandoned
# If you have any local configuration files, you can ignore them here
utils/tk*